@model AttemptViewModel

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Tests" asp-action="FinishedTest" asp-route-id="@Model.TestId">Результаты теста @Model.TestName</a>
    </li>

    @foreach (var attempt in Model.Attempts)
    {
        <li class="nav-item">
            <a class="nav-link @NavPages.PageNavClass(ViewContext, attempt.Id.ToString())" asp-controller="Tests" asp-action="TestAttempt" asp-route-id="@attempt.Id">@attempt.Name</a>
        </li>
    }
</ul>
<br />
