@model FinishedTestViewModel

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId" asp-route-moduleId="@Model.ModuleId">
            Модуль @Model.ModuleName
        </a>
    </li>

    @foreach (var testCompletion in Model.TestCompletions)
    {
        <li class="nav-item">
            <a class="nav-link @NavPages.PageNavClass(ViewContext, testCompletion.TestId.ToString())" asp-controller="Tests" asp-action="FinishedTest" asp-route-id="@testCompletion.TestId">
                Результаты теста @testCompletion.Test.Name <span class="badge badge-light">@testCompletion.Attempts.Count</span>
            </a>
        </li>
    }
</ul>
<br />
