@model CreateTestDetailsViewModel
@{
    ViewData["Title"] = $"Добавление теста {Model.Name}";
}

<div class="page-header">
    <h1>Добавление теста @Model.Name</h1>
    <hr />
</div>

<a asp-action="AddQuestion" asp-controller="Tests" asp-route-id="@Model.Id" class="btn btn-primary" style="margin-bottom: 20px;">Добавить вопрос</a>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>Контент</th>
            <th>Тип вопроса</th>
            <th>Наличие картинки</th>
            <th></th>
        </tr>
    </thead>

    @foreach (var question in Model.Questions)
    {
        <tr>
            <td>@question.Content</td>
            <td>@question.QuestionTypeString</td>

            @if (question.HasImage)
            {
                <td>
                    <img src="~/icons/plus.svg" height="20px" />
                </td>
            }
            else
            {
                <td></td>
            }

            <td>
                <form asp-controller="Tests" asp-action="DeleteQuestion" asp-route-id="@question.Id" asp-route-testId="@Model.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-outline-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
    
    @if (!Model.Questions.Any())
    {
        <tr scope="row">
            <td>Вопросы не найдены!</td>
            <td></td>
            <td></td>
        </tr>
    }
</table>
