@using EducationPortal.Web.Data.Enums
@model TestDetailsViewModel
@{
    ViewData["Title"] = $"Тест {Model.TestName}";
}

<div class="page-header">
    <h1>Тест @Model.TestName</h1>
</div>

<form method="post" action="~/Tests/FinishTest/@Model.TestId" class="form">
    @foreach (var question in Model.Questions)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@question.Content</h5>
                <div class="card-text">
                    @foreach (var answer in question.Answers)
                    {
                        switch (question.QuestionType)
                        {
                            case QuestionType.OneAnswer:
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="@question.Id" value="@answer.Id">
                                    <label class="form-check-label" for="@question.Id">
                                        @answer.Content
                                    </label>
                                </div>
                                break;
                            case QuestionType.MultipleAnswers:
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="@question.Id" value="@answer.Id">
                                    <label class="form-check-label" for="@question.Id">
                                        @answer.Content
                                    </label>
                                </div>
                                break;
                            case QuestionType.TextInput:
                                <div class="form-group">
                                    <label for="@question.Id" class="sr-only">Ответ</label>
                                    <input type="text" class="form-control text-input" name="@question.Id" placeholder="Введите ответ">
                                </div>
                                break;
                        }
                    }
                </div>
            </div>
        </div>
    }

    <div class="finish-test-container">
        <input type="submit" value="Закончить тест" class="btn btn-primary send-test-button" />
    </div>
</form>

