@using EducationPortal.Web.Data.Enums
@model TestDetailsViewModel
@{
    ViewData["Title"] = $"Тест {Model.TestName}";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Courses" asp-action="Index">Курсы</a></li>
        <li class="breadcrumb-item" aria-current="page"><a asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId">Курс @Model.CourseName</a></li>
        <li class="breadcrumb-item active" aria-current="page">Тест @Model.TestName</li>
    </ol>
</nav>

<div class="page-header">
    <h1>Тест @Model.TestName</h1>
    <hr/>
</div>

<div class="flex-container">
    <div></div>
    <h5 id="timer"></h5>
</div>

<form id="test-form" method="post" action="~/Tests/FinishTest/@Model.TestId" class="form">
    @foreach (var question in Model.Questions)
    {
        <div class="card">
            @switch (question.Question.QuestionType)
            {
                case QuestionType.OneAnswer:

                    <div class="card-header">
                        <div class="float-right">
                            <img src="~/icons/info.svg" height="15px" data-toggle="tooltip" data-placement="right" title="@TestDetailsViewModel.OneAnswerTitle"/>
                        </div>
                        <h5>@(question.QuestionNumber). @question.Question.Content</h5>
                        @if (question.Question.Image != null)
                        {
                            <img src="@question.Question.ImageSrc" class="img-fluid question-image" />
                        }
                    </div>
                    break;
                case QuestionType.MultipleAnswers:
                    <div class="card-header">
                        <div class="float-right">
                            <img src="~/icons/info.svg" height="15px" data-toggle="tooltip" data-placement="right" title="@TestDetailsViewModel.MultipleAnswersTitle"/>
                        </div>
                        <h5>@(question.QuestionNumber). @question.Question.Content</h5>
                        @if (question.Question.Image != null)
                        {
                            <img src="@question.Question.ImageSrc" class="img-fluid question-image" />
                        }
                    </div>
                    break;
                case QuestionType.TextInput:
                    <h5 class="card-header">@(question.QuestionNumber). @question.Question.Content</h5>
                     if (question.Question.Image != null)
                     {
                         <img src="@question.Question.ImageSrc" class="img-fluid question-image" />
                     }
                    break;
            }
            <div class="card-body">
                <div class="card-text">
                    @foreach (var answer in question.Question.Answers)
                    {
                        switch (question.Question.QuestionType)
                        {
                            case QuestionType.OneAnswer:
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="@question.Question.Id" value="@answer.Id">
                                    <label class="form-check-label" for="@question.Question.Id">
                                        @answer.Content
                                    </label>
                                </div>
                                break;
                            case QuestionType.MultipleAnswers:
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="@question.Question.Id" value="@answer.Id">
                                    <label class="form-check-label" for="@question.Question.Id">
                                        @answer.Content
                                    </label>
                                </div>
                                break;
                            case QuestionType.TextInput:
                                <div class="form-group">
                                    <label for="@question.Question.Id" class="sr-only">Ответ</label>
                                    <input type="text" class="form-control text-input" name="@question.Question.Id" placeholder="Введите ответ">
                                </div>
                                break;
                        }
                    }
                </div>
            </div>
        </div>
    }

    <div class="finish-test-container">
        <input type="submit" value="Закончить тест" class="btn btn-primary" />
    </div>
</form>

@section Scripts
{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $("#timer")
                .countdown("@Model.TimeToFinish", function (event) {
                    if (event.type === "finish") {
                        $("#test-form").submit();
                    } else {
                        $(this).text(
                            event.strftime('%H:%M:%S')
                        );
                    }
                });
        })
    </script>
}
