@model FinishedTestViewModel
@{
    ViewData["Title"] = $"Finished Test {Model.TestName}";
}

<h1>Finished Test @Model.TestName</h1>

<table class="attempts-table">
    @foreach (var attempt in Model.Attempts)
    {
        <tr class="attempt">
            <td>@attempt.Name</td>
            <td>@attempt.Date</td>
            <td>@attempt.Score</td>
            <td><a class="btn btn-default" asp-controller="Tests" asp-action="TestAttempt" asp-route-id="@attempt.Id">Open</a></td>
        </tr>
    }
</table>


