@model CourseDetailsViewModel
@{
    ViewData["Title"] = $"Курс {Model.CourseName}";
    ViewData["ActivePage"] = Model.CourseId.ToString();
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Courses" asp-action="Index">Курсы</a></li>
        <li class="breadcrumb-item active" aria-current="page">Курс @Model.CourseName</li>
    </ol>
</nav>

<div class="page-header">
    <h1>Курс @Model.CourseName</h1>
    <hr />
</div>

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_CoursesNav", Model.Courses)
    </div>
    <div class="col-md-9">
        @if (User.IsInRole("admin") || User.IsInRole("tutor"))
        {
            <a asp-action="CreateModule" asp-controller="Courses" asp-route-id="@Model.CourseId" class="btn btn-primary" style="margin-bottom: 20px;">Добавить модуль</a>
        }

        @if (Model.Modules.Any())
        {
            <ul class="nav nav-tabs">
                @foreach (var module in Model.Modules)
                {
                    <li class="nav-item">
                        @if (module.Id == Model.ActiveModuleId)
                        {
                            <a class="nav-link active" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId" asp-route-moduleId="@module.Id">Модуль @module.Name</a>
                        }
                        else
                        {
                            <a class="nav-link" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId" asp-route-moduleId="@module.Id">Модуль @module.Name</a>
                        }
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                Модули не найдены!
            </div>
        }

        <br/>
        
        @if (Model.Modules.Any())
        {
             if (User.IsInRole("admin") || User.IsInRole("tutor"))
             {
                 <form asp-controller="Courses" asp-action="DeleteModule" asp-route-id="@Model.ActiveModuleId" asp-route-courseId="@Model.CourseId" method="post" class="float-right">
                     <button type="submit" class="btn btn-sm btn-danger">
                         Удалить модуль
                     </button>
                 </form>
             }

            <h3>Образовательные материалы</h3>
            if (User.IsInRole("admin") || User.IsInRole("tutor"))
            {
            <a asp-action="AddEducationMaterial" asp-controller="Courses" asp-route-id="@Model.ActiveModuleId" class="btn btn-primary" style="margin-bottom: 20px;">Добавить образовательный материал</a>
            }

            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Имя</th>
                        <th scope="col">Важность</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var educationMaterial in Model.EducationMaterials)
                    {
                    <tr scope="row">
                        <td>@educationMaterial.Name</td>
                        <td><img src="~/icons/@educationMaterial.ImportanceIconName" height="30px" /></td>
                        <td>
                            <form asp-controller="Courses" asp-action="DeleteEducationMaterial" asp-route-id="@educationMaterial.Id" asp-route-moduleId="@Model.ActiveModuleId" asp-route-courseId="@Model.CourseId" method="post">
                                <a class="btn btn-sm btn-outline-primary" asp-controller="Courses" asp-action="EducationMaterial" asp-route-id="@educationMaterial.Id">Открыть</a>

                                @if(User.IsInRole("admin") || User.IsInRole("tutor"))
                                    {
                                        <button type="submit" class="btn btn-sm btn-outline-danger">
                                            Удалить
                                        </button>
                                    }
                            </form>
                        </td>
                    </tr>
                    }

                    @if (!Model.EducationMaterials.Any())
                    {
                    <tr scope="row">
                        <td>Образовательные материалы не найдены!</td>
                        <td></td>
                        <td></td>
                    </tr>
                    }
                </tbody>
            </table>

            <h3>Тесты</h3>

            if (User.IsInRole("admin") || User.IsInRole("tutor"))
            {
            <a asp-action="AddTest" asp-controller="Courses" asp-route-id="@Model.ActiveModuleId" class="btn btn-primary" style="margin-bottom: 20px;">Добавить тест</a>
            }

            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Количество вопросов</th>
                    <th scope="col">Время на тест</th>
                    
                    @if (User.IsInRole("admin") || User.IsInRole("tutor"))
                    {
                        <th scope="col">Количество попыток</th>
                    }

                    @if (User.IsInRole("user"))
                    {
                        <th scope="col">Количество сдач</th>
                        <th scope="col">Средний результат</th>
                    }

                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var test in Model.Tests)
                {
                    <tr scope="row">
                        <td>@test.Test.Name</td>
                        <td>@(test.Test.Questions?.Count ?? 0)</td>
                        <td>@test.Test.TimeLimit минут</td>
                        
                        @if (User.IsInRole("admin") || User.IsInRole("tutor"))
                        {
                            <td>@test.Test.MaxNumberOfAttempts</td>
                        }

                        @if (User.IsInRole("user"))
                        {
                            <td>
                                <span class="badge badge-primary">@test.AttemptsCount / @test.Test.MaxNumberOfAttempts</span>
                            </td>
                            <td>
                                @if (!test.AverageScore.HasValue)
                                {
                                    <b>-</b>
                                }
                                else
                                {
                                    if (test.AverageScore > 50)
                                    {
                                        <span class="badge badge-success">@($"{test.AverageScore:0.00}")%</span>
                                    }
                                    else if (test.AverageScore > 20)
                                    {
                                        <span class="badge badge-warning">@($"{test.AverageScore:0.00}")%</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">@($"{test.AverageScore:0.00}")%</span>
                                    }
                                }
                            </td>
                        }

                        <td>
                            @if (User.IsInRole("user"))
                            {
                                 if (test.HasTestCompletions)
                                 {
                                     if (test.AttemptsCount < test.Test.MaxNumberOfAttempts)
                                     {
                                         <div class="dropdown">
                                             <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                 Действия
                                             </button>
                                             <div class="dropdown-menu">
                                                 <a class="dropdown-item" asp-controller="Tests" asp-action="Details" asp-route-id="@test.Test.Id">Сдать еще раз</a>
                                                 <a class="dropdown-item" asp-controller="Tests" asp-action="FinishedTest" asp-route-id="@test.Test.Id">Результаты</a>
                                             </div>
                                         </div>
                                     }
                                     else
                                     {
                                         <a class="btn btn-sm btn-outline-primary" asp-controller="Tests" asp-action="FinishedTest" asp-route-id="@test.Test.Id">Результаты</a>
                                     }

                                 }
                                 else
                                 {
                                     if (test.Test.Questions?.Count > 0)
                                     {
                                         <a class="btn btn-sm btn-outline-primary" asp-controller="Tests" asp-action="Details" asp-route-id="@test.Test.Id">Пройти</a>
                                     }
                                 }
                            }
                            
                            @if (User.IsInRole("admin") || User.IsInRole("tutor"))
                            {
                                <form asp-controller="Courses" asp-action="DeleteTest" asp-route-id="@test.Test.Id" asp-route-moduleId="@Model.ActiveModuleId" asp-route-courseId="@Model.CourseId" method="post">
                                    <a class="btn btn-sm btn-outline-primary" asp-controller="Tests" asp-action="Create" asp-route-id="@test.Test.Id">Открыть</a>

                                    <button type="submit" class="btn btn-sm btn-outline-danger">
                                        Удалить
                                    </button>
                                </form>
                            }
                            
                        </td>
                    </tr>
                }

                @if (!Model.Tests.Any())
                {
                    <tr scope="row">
                        <td>Тесты не найдены!</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                </tbody>
            </table>
        }
</div>
</div>
