@model CourseDetailsViewModel
@{
    ViewData["Title"] = $"Курс {Model.CourseName}";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Courses" asp-action="Index">Курсы</a></li>
        <li class="breadcrumb-item active" aria-current="page">Курс @Model.CourseName</li>
    </ol>
</nav>

<div class="page-header">
    <h1>Курс @Model.CourseName</h1>
    <hr />
</div>

<ul class="nav nav-tabs">
    @foreach (var module in Model.Modules)
        {
            <li class="nav-item">
                @if (module.Id == Model.ActiveModuleId)
                        {
                            <a class="nav-link active" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId" asp-route-moduleId="@module.Id">Модуль @module.Name</a>
                        }
                        else
                        {
                            <a class="nav-link" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId" asp-route-moduleId="@module.Id">Модуль @module.Name</a>
                        }
            </li>
        }
</ul>
<br />

<h3>Образовательные материалы</h3>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Важность</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var educationMaterial in Model.EducationMaterials)
        {
            <tr scope="row">
                <td>@educationMaterial.Name</td>
                <td><img src="~/icons/@educationMaterial.ImportanceIconName" height="30px" /></td>
                <td><a class="btn btn-primary" asp-controller="Courses" asp-action="EducationFileContent" asp-route-id="@educationMaterial.Id">Открыть</a></td>
            </tr>
        }
    </tbody>
</table>

<h3>Тесты</h3>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Временные ограничения</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model.Tests)
        {
                <tr scope="row">
                    <td>@test.Test.Name</td>
                    <td>@test.Test.TimeLimit минут</td>
                    <td>
                        @if (test.HasTestCompletions)
                        {
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Действия
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Tests" asp-action="Details" asp-route-id="@test.Test.Id">Пересдать</a>
                                    <a class="dropdown-item" asp-controller="Tests" asp-action="FinishedTest" asp-route-id="@test.Test.Id">Попытки 
                                        <span class="badge badge-light">@test.AttemptsCount</span></a>
                                </div>
                            </div>

                        }
                        else
                        {
                            <a class="btn btn-primary" asp-controller="Tests" asp-action="Details" asp-route-id="@test.Test.Id">Пройти</a>
                        }
                    </td>
                </tr>
        }
    </tbody>
</table>

